<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.mainchain" version="1.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MainChain 公測版</name>
    <description>
        MainChain官方客户端
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        MainChain Team
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-8.1.1" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <platform name="android">
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="true" />
        <icon density="ldpi" src="vendors/res/icon/android/ldpi.png" />
        <icon density="mdpi" src="vendors/res/icon/android/mdpi.png" />
        <icon density="hdpi" src="vendors/res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="vendors/res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="vendors/res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="vendors/res/icon/android/xxxhdpi.png" />
        <splash density="port-ldpi" src="vendors/res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="vendors/res/screen/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="vendors/res/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="vendors/res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="vendors/res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="vendors/res/screen/android/splash-port-xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <preference name="StatusBarBackgroundColor" value="#1C162E" />
        <icon height="1024" src="vendors/res/icon/ios/icon-1024.png" width="1024" />
        <icon height="29" src="vendors/res/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="vendors/res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="vendors/res/icon/ios/icon-small@3x.png" width="87" />
        <icon height="40" src="vendors/res/icon/ios/icon-small-40.png" width="40" />
        <icon height="80" src="vendors/res/icon/ios/icon-small-40@2x.png" width="80" />
        <icon height="120" src="vendors/res/icon/ios/icon-small-40@3x.png" width="120" />
        <icon height="50" src="vendors/res/icon/ios/icon-small-50.png" width="50" />
        <icon height="100" src="vendors/res/icon/ios/icon-small-50@2x.png" width="100" />
        <icon height="57" src="vendors/res/icon/ios/icon.png" width="57" />
        <icon height="114" src="vendors/res/icon/ios/icon@2x.png" width="114" />
        <icon height="60" src="vendors/res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="vendors/res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="vendors/res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" src="vendors/res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="vendors/res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" src="vendors/res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="vendors/res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="167" src="vendors/res/icon/ios/icon-167.png" width="167" />
        <icon height="167" src="vendors/res/icon/ios/icon-83.5@2x.png" width="167" />
        <splash src="vendors/res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="vendors/res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="vendors/res/screen/ios/Default@3x~iphone~anyany.png" />
        <splash src="vendors/res/screen/ios/Default@3x~iphone~comany.png" />
        <splash src="vendors/res/screen/ios/Default@2x~ipad~anyany.png" />
        <splash src="vendors/res/screen/ios/Default@2x~ipad~comany.png" />
    </platform>
    <platform name="wp8">
        <icon height="99" platform="wp8" src="www/res/icon/wp8/ApplicationIcon.png" width="99" />
        <icon height="159" platform="wp8" src="www/res/icon/wp8/Background.png" width="159" />
        <splash height="1280" platform="wp8" src="www/res/screen/wp8/screen-portrait.jpg" width="768" />
    </platform>
    <platform name="windows">
        <icon height="150" platform="windows" src="www/res/icon/windows/Square150x150Logo.scale-100.png" width="150" />
        <icon height="30" platform="windows" src="www/res/icon/windows/Square30x30Logo.scale-100.png" width="30" />
        <icon height="50" platform="windows" src="www/res/icon/windows/StoreLogo.scale-100.png" width="50" />
        <splash height="300" platform="windows" src="www/res/screen/windows/SplashScreen.scale-100.png" width="620" />
        <icon height="120" platform="windows" src="www/res/icon/windows/StoreLogo.scale-240.png" width="120" />
        <icon height="44" platform="windows" src="www/res/icon/windows/Square44x44Logo.scale-100.png" width="44" />
        <icon height="106" platform="windows" src="www/res/icon/windows/Square44x44Logo.scale-240.png" width="106" />
        <icon height="70" platform="windows" src="www/res/icon/windows/Square70x70Logo.scale-100.png" width="70" />
        <icon height="71" platform="windows" src="www/res/icon/windows/Square71x71Logo.scale-100.png" width="71" />
        <icon height="170" platform="windows" src="www/res/icon/windows/Square71x71Logo.scale-240.png" width="170" />
        <icon height="360" platform="windows" src="www/res/icon/windows/Square150x150Logo.scale-240.png" width="360" />
        <icon height="310" platform="windows" src="www/res/icon/windows/Square310x310Logo.scale-100.png" width="310" />
        <icon height="150" platform="windows" src="www/res/icon/windows/Wide310x150Logo.scale-100.png" width="310" />
        <icon height="360" platform="windows" src="www/res/icon/windows/Wide310x150Logo.scale-240.png" width="744" />
        <splash height="1920" platform="windows" src="www/res/screen/windows/SplashScreenPhone.scale-240.png" width="1152" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-battery-status" spec="~1.1.1" />
    <plugin name="cordova-plugin-camera" spec="~2.1.1" />
    <plugin name="cordova-plugin-media-capture" spec="~1.2.0" />
    <plugin name="cordova-plugin-contacts" spec="~2.0.1" />
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
    <plugin name="cordova-plugin-device-motion" spec="~1.2.0" />
    <plugin name="cordova-plugin-device-orientation" spec="~1.0.2" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.0" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.5.0" />
    <plugin name="cordova-plugin-geolocation" spec="~2.1.0" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.3" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.3.0" />
    <plugin name="cordova-plugin-media" spec="~2.2.0" />
    <plugin name="cordova-plugin-network-information" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.1" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="phonegap-plugin-barcodescanner" >
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-advanced-http" spec="~2.1.1">
        <variable name="OKHTTP_VERSION" value="3.10.0" />
    </plugin>
    <plugin name="cordova-plugin-android-permissions" spec="~1.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="^2.1.3" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.1.4" />
    <engine name="ios" spec="^4.5.5" />
</widget>
