header {
  font-size: 0.18rem;
  height: 0.44rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  background-color: rgba($color: #fff, $alpha: 0);
  transition: all ease 0.3s;
  border-bottom: transparent solid 1px;

  padding-top: constant(safe-area-inset-top) !important;
  /* Status bar height on iOS 11+ */
  padding-top: env(safe-area-inset-top) !important;
  box-sizing: border-box;

  // padding-left: 0 !important;
  // padding-right: 0 !important;
  // margin-left: 0.15rem;
  // margin-right: 0.15rem;

  &.top {
    background-color: #201A32;
    border-bottom-color: rgba($color: #6C7B8A, $alpha: 0.4);
  }

  .title {
    width: 100%;
    text-align: center;
    font-weight: 400;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .icon-container {
    width: 0.2rem;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    line-height: 1;
  }
}
