#order {
  margin-top: 0.56rem;

  .shadow-pad {
    background: #43485B;
    color: #fff;
  }

  .continue-btn {
    background: #6C7B8A;
    color: #fff;
    border: none;
  }

  .list {
    padding-top: 0.12rem;

    .loading {
      text-align: center;
    }
  }

  .product-group-title {
    margin: 0.2rem 0;
    font-size: 0.14rem;
    font-weight: 400;
  }

  .item {
    position: relative;
    display: flex;
    padding: 0.2rem 0.1rem;
    border-radius: 0.08rem;
    align-items: center;
    margin-bottom: 0.1rem;

    a {
      color: #1D0D0D;
    }

    .logo {
      flex-grow: 0;
      flex-shrink: 0;
      width: 0.4rem;
      text-align: center;

      span {
        display: inline-block;
        width: 0.4rem;
        height: 0.4rem;
        background-image: linear-gradient(to right bottom, #247BCB 0%, #14CBD2 100%);
        border-radius: 0.2rem;
        line-height: 0.4rem;
        font-size: 0.16rem;
        font-weight: 500;
        color: #fff;
      }
    }

    .center {
      font-size: 0.14rem;
      flex-shrink: 1;
      flex-grow: 1;
      overflow: hidden;
      margin: 0 0.1rem;
    }

    .amount {
      flex-grow: 0;
      flex-shrink: 0;
      position: relative;

      &.check {
        font-size: 0.3rem;
        font-weight: 400;
      }

      .minus,
      .plus {
        position: absolute;
        top: 50%;
        display: block;
        height: 100%;
        text-align: center;
        transform: translate(0, -50%);
        width: 0.25rem;
        z-index: 1;
        line-height: 0.3rem;
        font-size: 0.2rem;
      }

      .minus {
        left: 0;
      }
      .plus {
        right: 0;
      }
    }

    .txid {
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;

      span {
        font-size: 0.12rem;
      }
    }

    .time {
      font-size: 0.12rem;
    }

    .amount-input {
      width: 0.8rem;
      text-align: center;
    }
  }
}

@keyframes buy-footer-show {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes buy-modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
